@import "../abstracts/variables.scss";
@import "../abstracts/mixins.scss";

.navbar {
  background-color: #fff;
  padding: 1.5rem 0;
  font-size: $smallFont;
  direction: ltr;
  ul {
    li {
      cursor: pointer;
      margin: 0 2rem;
    }
    @include mQ(992px) {
      text-align: center;
    }
  }
}
