// colors
$primary: #6c98a2;
$secondary: #fbf9f4;
$primaryGray: #8d8d8d;
$primaryBlack: #313131;
// Typography Start

// Font sizes
$GlobalFont: 62.5%;
$HeadFont: 2.2rem;
$MediumFont: 2rem;
$smallFont: 1.6rem;

// Line Heights
$HeadLineSpacing: 7rem;
$MediumLineSpacing: 4rem;
$smallLineSpacing: 1.5rem;

//Typography End

//shadow
$globalShadow: 0px 0px 1.5px $primaryGray;

$globalRadius: 2rem;
